<div class="formularioRegistro">
  <div class="titulo">
    <h2>CREAR PERSONA</h2>
  </div>
  <form [formGroup]="personaForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label class="texto"><i class="bi bi-person-circle"></i> Nombre</label>
      <input type="text" name="nombre" id="nombre" formControlName="nombre" class="form-control">
    </div>
    <div class="form-group">
      <label class="texto"><i class="bi bi-person-circle"></i> Apellido</label>
      <input type="text" name="apellido" id="apellido" formControlName="apellido" class="form-control">
    </div>
    <div class="form-group">
      <label class="texto"><i class="bi bi-calendar"></i> Edad</label>
      <input type="number" name="edad" id="edad" formControlName="edad" class="form-control">
    </div>
    <div class="form-group">
      <label class="texto"><i class="bi bi-globe-americas"></i> Pais</label>
      <select name="pais" id="pais" formControlName="pais" class="form-control">
        <option [ngValue]="item" *ngFor="let item of paises"> {{item.nombre}} </option>
      </select>
    </div>
    <div class="form-group">
      <label class="texto"><i class="bi bi-globe-asia-australia"></i> Estado o región</label>
      <select name="estado" id="estado" formControlName="estado" class="form-control">
        <option [ngValue]="item" *ngFor="let item of estado"> {{item.nombre}} </option>
      </select>
    </div>
    <div class="boton">
      <button class="btn btn-primary btn-guardar" type="submit">G U A R D A R</button>
    </div>
  </form>
</div>

<router-outlet />
