<div class="formularioRegistro">
  <div class="titulo">
    <h2>CREAR PERSONA</h2>
  </div>
  <form [formGroup]="personaForm" (ngSubmit)="guardar()">
    <div class="form-group">
      <label class="texto"><i class="bi bi-person-circle"></i> Nombre</label>
      <input type="text" name="nombre" id="nombre" formControlName="nombre" class="form-control">
    </div>
    <div class="form-group">
      <label class="texto"><i class="bi bi-person-circle"></i> Apellido</label>
      <input type="text" name="apellido" id="apellido" formControlName="apellido" class="form-control">
    </div>
    <div class="form-group">
      <label class="texto"><i class="bi bi-calendar"></i> Edad</label>
      <input type="number" name="edad" id="edad" formControlName="edad" class="form-control">
    </div>
    <div class="form-group">
      <label class="texto"><i class="bi bi-globe-americas"></i> Pais</label>
      <select name="pais" id="pais" formControlName="pais" class="form-control">
        <option [ngValue]="item" *ngFor="let item of paises"> {{item.nombre}} </option>
      </select>
    </div>
    <div class="form-group">
      <label class="texto"><i class="bi bi-globe-asia-australia"></i> Estado o región</label>
      <select name="estado" id="estado" formControlName="estado" class="form-control">
        <option [ngValue]="item" *ngFor="let item of estado"> {{item.nombre}} </option>
      </select>
    </div>
    <div class="boton">
      <button class="btn btn-primary btn-guardar" type="submit" [disabled]="personaForm.invalid">G U A R D A R</button>
    </div>
  </form>
</div>


<div class="tabla">
  <h2 class="titulo">Personas Registradas</h2>
  <table class="table responsive">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Pais</th>
        <th>Estado</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of persona">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.edad}}</td>
        <td>{{item.pais.nombre}}</td>
        <td>{{item.estado.nombre}}</td>
        <td><button type="button" class="btn btn-danger" (click)="eliminar(item)"><i class="bi bi-trash"></i></button></td>
        <td><button type="button" class="btn btn-success" (click)="editar(item)"><i class="bi bi-pencil-fill"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet />
